* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, serif;
	color: white;
	background: black;
	font-size:  16px;
	padding-top: 4.21875em;
}

#bg, #wrapper {
	height:   34.1875em;
	width:	  81.875em;
	margin:   auto;
	position: relative;
}

#bg {
	z-index: 	  1;
	overflow: hidden;
}

#bg, #black {
	margin-bottom: -34.1875em;
}

#bg img {
	width: 			117%;
	margin-top: -12.4375em;
}

#wrapper {
	z-index: 	2;
}

#black, #info {
	width: 			 33%;
	margin-left: 3em;
	position: 	 relative;
	padding:     0 1.625em 0 1.825em;
}

#black {
	background: black;
	opacity: 		0.7;
	height: 		100%;
	z-index: 		1;
}

#info {
	padding-top: 3em;
	z-index: 		 2;
}

h1, h2 {
	font-size:   1.42em;
	font-weight: bold;			
}

#timer {
	margin: -1.1125em 0 1.1em 0.1875em;
}

#timer span {
	font-size: 4.5em;
}

h2 span {
	color: #B6FEE2;
}

h3 {
	font-weight: normal;
}

.details {
	padding: 		 0 0 0.25em 0.625em;
	border-left: 0.5625em solid white;
	margin: 		 1.5em 0 1.5em 0.6875em;
}
